<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <form method="POST" action="/rezultat">
        <label for="pretvornik">Za pretvorbo iz kilometrov v milje vnesi 1 za obratno pa 2: </label>
        <input type="number" id="pretvornik" name="pretvorba">
        <br>
        <label for="razdalja">Vnesi razdalja: </label>
        <input type="number" id="razdalja" name="raz">
        <br>
        <button type="submit">Pretvorba</button>
    </form>

</body>
</html>